<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mt-5 text-center">
                <h1>Login</h1>
            </div>
            <form action="/home" method="post">
                <div class="mb-3 mt-5">
                  <label for="exampleInputEmail1" class="form-label">username</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" name="logusername" required>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="logpass" required>
                </div>
                <div class="butn text-center pt-3">
                    <button type="submit" class="btn btn-primary px-5">Signin</button>
                    <h5 class="pt-3 reg">Don't have an Account?<a href="/signup"> Register</a></h5>
                </div>
              </form>
        </div>
    </div>
</div>